#pie-index{
	background-color: #CCD8D2;
				
}
#section-index{
	background-color: #CCD8D2;
	border-radius: 5px;
}
#header-index{
	
}
#body-index{
	background-color: #E4E4E4;

	}
.img-banner{
	width: 100%;
	height: 200px;
}
