
#section-index{
	background-color: #FDEAE8;
	border-radius: 5px;
}

#body-index{
	background-color: #E4E4E4;

	}
.img-banner{
	width: 100%;
	height: 12em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#img-logo
{
	margin-left: 20%;
	margin-top: 5%;
}

.pie{
	background-color:#993333;
	color: white;
}
